@page
@model Collabrix.Pages.Account.SignInModel
@{
    ViewData["Title"] = "Sign In";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            @if (TempData["ErrorOnServer"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error:</strong> @TempData["ErrorOnServer"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center mb-0">Login</h3>
                </div>
                <div class="card-body d-flex flex-column justify-content-center px-5">
                    <form method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating mt-2">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Email"
                                           id="Email"
                                           asp-for="Email"
                                           required>
                                    <label asp-for="Email">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <div class="form-floating mt-2 position-relative">
                                    <input type="password"
                                           class="form-control"
                                           placeholder="Password"
                                           id="Password"
                                           asp-for="Password"
                                           required>
                                    <label asp-for="Password">Password</label>
                                    <!-- Toggle Password Button -->
                                    <button type="button" id="togglePassword" class="btn position-absolute top-50 end-0 translate-middle-y me-1">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center p-0">
                            <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
                            <span class="text-muted">Don't have an account? <a asp-page="/Account/UserSignup">Signup</a></span>
                            <div class="d-flex align-items-center my-3">
                                <hr class="flex-grow-1">
                                <span class="mx-2 text-muted">OR</span>
                                <hr class="flex-grow-1">
                            </div>
                            <a class="btn btn-google btn-lg " style="width: 280px;" href="/Account/UserSignIn?handler=Login">
                                <img src="https://www.svgrepo.com/show/475656/google-color.svg" style="width:24px">
                                <span>
                                    Continue with Google
                                </span>
                            </a>
                            <style>
                                .btn-google {
                                    color: #545454;
                                    background-color: #ffffff;
                                    box-shadow: 0 1px 2px 1px #ddd;
                                }

                                    .btn-google:hover {
                                        background-color: #f1f1f1;
                                    }
                            </style>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordField = document.getElementById('Password');
            const toggleIcon = this.querySelector('i');
            const isPassword = passwordField.getAttribute('type') === 'password';

            passwordField.setAttribute('type', isPassword ? 'text' : 'password');
            toggleIcon.classList.toggle('fa-eye');
            toggleIcon.classList.toggle('fa-eye-slash');
        });
    </script>
}
