@page
@model Collabrix.Pages.Account.UserProfileUpdateModel
@{
	ViewData["Title"] = "Update Profile";
}
<div class="page-inner">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">User Settings</li>
        </ol>
    </nav>

    @if (TempData["ErrorOnServer"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Error: @TempData["ErrorOnServer"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="card mb-4">
        <form asp-page-handler="UpdateUserDetails" method="post">            
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <h4>Update Profile</h4>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
                </div>
            </div>

            <div class="card-body">
                <input type="hidden" asp-for="useId" />
                <input type="hidden" asp-for="CheckPass" />
                <div class="mb-3">
                    <label for="fullName" asp-for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" asp-for="name" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="email" asp-for="mail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" asp-for="mail" />
                    <span asp-validation-for="mail" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="card mb-4">
        <form asp-page-handler="UpdateUserPassword" method="post">
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <h4>Update Password</h4>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Save Password</button>
                </div>
            </div>

            <div class="card-body">
                <input type="hidden" asp-for="useId" />
                <input type="hidden" asp-for="CheckPass" />
                <input type="hidden" asp-for="name" />
                <input type="hidden" asp-for="mail" />
                <div class="mb-3">
                    <label for="pass" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="pass" asp-for="Pass" />
                    <button type="button" class="btn position-absolute top-50 end-0 translate-middle-y me-1 toggle-password" data-target="pass"><i class="fa fa-eye"></i></button>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" asp-for="Password" />
                    <button type="button" class="btn position-absolute top-50 end-0 translate-middle-y me-1 toggle-password" data-target="password"><i class="fa fa-eye"></i></button>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword" />
                    <button type="button" class="btn position-absolute top-50 end-0 translate-middle-y me-1 toggle-password" data-target="confirmPassword"><i class="fa fa-eye"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- JS Part -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.querySelectorAll('.toggle-password').forEach(button => {
            button.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                const targetInput = document.getElementById(targetId);
                const icon = this.querySelector('i');
                if (targetInput.type === 'password') {
                    targetInput.type = 'text';
                    icon.classList.replace('fa-eye', 'fa-eye-slash');
                } else {
                    targetInput.type = 'password';
                    icon.classList.replace('fa-eye-slash', 'fa-eye');
                }
            });
        });
    </script>
}